screen.start.continue:=
screen.start.newgame:=
screen.start.settings:=
screen.start.exit:=

screen.orders.orders:=

screen.orders.orderFrom:=
screen.orders.orderRevenue:=
screen.orders.orderDifficulty:=
screen.orders.message:=
screen.orders.breakin:=
screen.orders.accept:=
screen.orders.cancel:=
screen.orders.finish:=
screen.orders.taken:=
screen.orders.canBeFinished:=

screen.orders.finishedOrders:=
screen.orders.balance:=
screen.orders.shop:=
screen.orders.returnToMenu:=

shop.buy.lockpick:=
shop.buy.ecobomb:=

screen.shop.lockpick:=
screen.shop.ecobomb:=
screen.shop.inStock:=
screen.shop.price:=
screen.shop.buy:=

inventory.lock.pickamount:=%d
inventory.ecobomb.activate:=
inventory.ecobomb.nobombs:=

difficulty.1:=
difficulty.2:=
difficulty.3:=
difficulty.4:=
difficulty.5:=

hint.howto.barrel:=
hint.howto.gate:=
hint.interact.door:=
hint.interact.lock:=
hint.interact.chest:=
hint.interact.exit:=
hint.lock.noLockpicks:=
hint.order.end:=
hint.drop.nothing:=
hint.drop.got:=
hint.ecobomb:=